<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a47576">  <td>22/10/17 11:46:49</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;MainClass.CloseBrowser()[pri:0, instance:main.MainClass@6cb107fd]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1161322357</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/10/17 11:46:42</td>   <td>-7580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.checklist()[pri:2, instance:main.MainClass@6cb107fd]">checklist</td> 
  <td>main@1161322357</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/10/17 11:46:38</td>   <td>-11707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.login()[pri:1, instance:main.MainClass@6cb107fd]">login</td> 
  <td>main@1161322357</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/10/17 11:46:34</td>   <td>-15863</td> <td>&nbsp;</td><td title="&gt;&gt;MainClass.openchrome()[pri:0, instance:main.MainClass@6cb107fd]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1161322357</td>   <td></td> </tr>
</table>
